* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Utility Class  */
.btn-primary {
  background-color: #1db954;
  color: white;
  text-transform: uppercase;
  padding: 15px 60px;
  border: none;
  border-radius: 30px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 300ms ease;
}

.btn-primary:hover {
  background: #1ed76e;
  cursor: pointer;
}

.logo {
  height: 40px;
  width: auto;
}

/* Navbar */
#navbar {
  display: flex;
  background-color: rgb(0, 0, 0, 0.6);
  color: white;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.navbar-container i {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

.navbar-container ul {
  display: flex;
  list-style: none;
  font-weight: bold;
}

#items {
  display: flex;
}

.navbar-container ul li {
  padding: 0 20px;
  transition: all 300ms ease;
}

.navbar-container ul li:hover {
  color: #1db954;
  cursor: pointer;
}

.navbar-container ul li:nth-child(3) {
  border-right: 1px solid white;
}

/* showcase */

#showcase {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: url("./img/showcase.webp") center center/cover;
  background-color: rgb(0, 0, 0, 0.4);
  background-blend-mode: color;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcase-container h2 {
  font-size: 5rem;
}

.showcase-container p {
  margin: 15px 0;
  font-size: 1.1rem;
}

/* Footer */

#footer {
  background: black;
  color: white;
}

.footer-content {
  display: flex;
  width: 60%;
  margin: auto;
  padding: 80px 0;
}

.footer-menu {
  margin: 0 60px;
  list-style: none;
}

.footer-menu p {
  font-weight: bold;
  text-transform: uppercase;
  color: #919496;
  font-size: 0.8rem;
}

.footer-menu-item {
  margin: 25px 0;
  transition: all 300ms ease;
}

.footer-menu-item:hover {
  color: #1db954;
  cursor: pointer;
}

.socials {
  display: flex;
}

.socials i {
  margin: 0 20px;
  font-size: 1.7rem;
  transition: all 300ms ease;
}

.socials i:hover {
  color: #1db954;
  cursor: pointer;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 60%;
  margin: auto;
  font-weight: bold;
  color: #919496;
  font-size: 0.75rem;
  padding-top: 50px;
}

.footer-info-items {
  display: flex;
  list-style: none;
}

.footer-info-item {
  margin: 0 10px;
  transition: all 300ms ease;
}

.footer-info-item:hover {
  color: #1db954;
  cursor: pointer;
}

.contry {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.contry p {
  transition: all 300ms ease;
}

.contry p:hover {
  color: #1db954;
  cursor: pointer;
}

.brazil-flag {
  height: 20px;
  width: auto;
  display: inline-block;
  margin-left: 10px;
}

@media only screen and (max-width: 800px) {
  #navbar {
    width: 100vw;
  }

  #showcase {
    width: 100vw;
  }

  #footer {
    width: 100vw;
  }

  #items {
    display: none;
  }

  .navbar-responsive {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-container {
    display: inline;
  }

  .navbar-container i {
    display: block;
    cursor: pointer;
  }

  .navbar-container ul {
    display: inline;
    text-align: right;
  }

  .navbar-container ul li {
    padding: 0 0;
  }

  .navbar-item {
    margin-top: 10px;
  }

  .navbar-container ul li:nth-child(3) {
    border-right: none;
  }

  .showcase-container h2 {
    font-size: 2rem;
  }

  .showcase-container p {
    margin: 10px 0;
    font-size: 0.8rem;
  }

  .btn-primary {
    background-color: #1db954;
    color: white;
    text-transform: uppercase;
    padding: 10px 40px;
  }

  .footer-content {
    padding: 20px 0;
    display: block;
    text-align: center;
  }

  .logo {
    display: inline-block;
  }

  .footer-menu {
    width: 100%;
    margin: 25px 0;
    text-align: center;
  }

  .footer-menu-item {
    margin: 18px 0;
  }

  .socials {
    margin-top: 20px;
    display: inline-block;
  }

  .footer-info {
    display: block;
    padding: 10px;
    width: 100%;
  }

  .footer-info-items {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .footer-info-item {
    margin-bottom: 25px;
    display: flex;
    text-align: center;
    padding: 0;
  }

  .rights {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0 auto;
  }
}
